#gwtoolset-form {
	position: relative;
}

#gwtoolset-form li {
	margin-bottom: 0.5em;
}

#gwtoolset-loader {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.8 );
	display: none;
}

#gwtoolset-loader p {
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	text-align: center;
}

td.add-metadata,
td.subtract-metadata {
	width: 16px;
}

.required {
	font-weight: bold;
	color: #f00;
}

.gwtoolset-metadata-button {
	cursor: pointer;
}

#save-mapping {
	display: inline-block;
	margin: 3px 3px 0 0;
	padding: 3px 10px;
	cursor: pointer;
	color: #050505;
	background: -moz-linear-gradient( top, #fff 0%, #ebebeb 50%, #dbdbdb 50%, #b5b5b5 );
	background: -webkit-gradient( linear, left top, left bottom, from( #fff ), color-stop( 0.5, #ebebeb ), color-stop( 0.5, #dbdbdb ), to( #b5b5b5 ) );
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow: 0 1px 3px rgba( 000, 000, 000, 0.5 ), inset 0 0 2px rgba( 255, 255, 255, 1 );
	-webkit-box-shadow: 0 1px 3px rgba( 000, 000, 000, 0.5 ), inset 0 0 2px rgba( 255, 255, 255, 1 );
	box-shadow: 0 1px 3px rgba( 000, 000, 000, 0.5 ), inset 0 0 2px rgba( 255, 255, 255, 1 );
	text-shadow: 0 -1px 0 rgba( 000, 000, 000, 0.2 ), 0 1px 0 rgba( 255, 255, 255, 1 );
}

.gwtoolset-wider-input {
	width: 350px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

#gwtoolset-whitelist {
	height: 100px;
	width: 300px;
	border: 1px solid #ccc;
	margin: 0;
	padding: 7px 0 7px 18px;
	overflow: auto;
}

div#content .preview-title {
	font-weight: bold;
	border: 0;
	margin-top: 2em;
}

.preview-image-placeholder {
	background-color: #f9f9f9;
	width: 300px;
	padding: 40px 0 270px 20px;
	border: 1px solid #aaa;
}

#gwtoolset-back-to-top {
	display: block;
	padding-right: 55px;
	margin: 2em 0 1em 0;
	height: 82px;
	text-align: right;
	background-image: url( ../images/up_arrow.png );
	background-repeat: no-repeat;
	background-position: right 7px;
}
